<div class="container-fixed-lg">
  <div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading separator text-center">
          <div class="panel-title">
            <i class="fa fa-star-half-o fa-lg semi-bold" aria-hidden="true"></i>&nbsp;&nbsp;
            Rating
          </div>
        </div>
        <div class="panel-body">
          <form class="m-t-15" role="form" name="questionForm" (submit)="save()">
            <div class="form-group x-separator">
              <label>Question</label>
              <textarea class="form-control" rows="4" name="questionText" [(ngModel)]="question"></textarea>
            </div>
            <div class="form-group x-separator">
              <label>
                Description &nbsp;<i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
              </label>
              <span class="help">(Leave empty if not required)</span>
              <textarea class="form-control" name="descriptionText" [(ngModel)]="description"></textarea>
            </div>
            <div class="form-group">
              <label>
                Steps &nbsp;<i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
              </label>
              <input type="number" class="form-control" name="steps" [(ngModel)]="rates" (change)="addToSteps()" max="10" min="3">
            </div>
            <div class="form-group">
              <label>
                Shape &nbsp;<i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
              </label>
              <select class="form-control" name="shape" [(ngModel)]="shape">
                <option value="stars"><i class="fa fa-star" aria-hidden="true"></i>&nbsp; Stars</option>
                <option value="hearts"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp; Hearts</option>
                <option value="users"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Users</option>
                <option value="thumbsUp"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp; Thumbs Up</option>
                <option value="flags"><i class="fa fa-flag" aria-hidden="true"></i>&nbsp; Flags</option>
                <option value="ticks"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; Ticks</option>
                <option value="pencils"><i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp; Pencils</option>
              </select>
            </div>
            <hr class="x-separator">
            <div>
              <div class="p-b-5">
                <i class="fa fa-gears fa-lg semi-bold" aria-hidden="true"></i>&nbsp;
                <span class="bold">Settings</span>
              </div>
              <div class="form-group checkbox check-success checkbox-circle">
                <input class="form-control" type="checkbox" id="questionReq" name="questionReq" [(ngModel)]="isRequired">
                <label for="questionReq">
                  Required &nbsp;<i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
                </label>
              </div>
            </div>
            <hr class="x-separator">
            <div class="pull-right">
              <button type="button" class="btn btn-default" (click)="cancel()">
                <span>Cancel</span>
              </button>
              <button type="submit" class="btn btn-success">
                <span>Save</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="panel panel-transparent p-t-40">
        <div class="panel-body">
          <div *ngIf="question">
            <div class="row">
              <div class="col-xs-1 text-right">
                <div class="x-text-question bold">Q.</div>
              </div>
              <div class="col-xs-10">
                <div class="x-text-question">{{question}}<span class="x-required bold" *ngIf="isRequired">*</span></div>
                <div class="m-t-10 x-text-description">{{description}}</div>
              </div>
            </div>
            <div class="row m-t-20">
              <div class="col-xs-1 text-right">
              </div>
              <div class="col-xs-10">
                <div class="row">
                  <div class="col-xs-1 x-text-answer-dark" *ngFor="let step of steps; let index = index">
                    <i [ngClass]="shape" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
