<div class="container-fixed-lg">
  <div>
    <div class="panel panel-transparent p-t-40">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2 text-right">
            <i class="fa fa-hashtag fa-lg semi-bold p-t-10" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9">
            <textarea class="bold p-b-10 x-input-transparent x-text-question full-width"
                      placeholder="Question goes here..." autofocus></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-right">
            <i class="h3 x-text-answer fa fa-long-arrow-right fa-lg semi bold" aria-hidden="true"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="semi-bold x-text-answer">Answer goes here...</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-right bottom-left">
      <div class="panel panel-default">
        <div class="panel-heading separator">
          <div class="panel-title">
            <i class="fa fa-gears fa-lg semi-bold" aria-hidden="true"></i>&nbsp;
            Settings
          </div>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
